<div class="main-img-pc">
    <img src="/assets/PNG/Desktop.jpg" width="100%" alt="" class="desktop-main-img" style="margin-top: -8%;">
    <img src="/assets/PNG/Mobile.jpg" width="100%" alt="" class="mobile-main-img"  style="margin-top: -10%;">
</div>

<div class="stats-div">
    <div>
        <h4 style="font-weight: 600;"><span class="green-text"> A look at global statistic</span></h4>
    </div>
    <div class="inner-stats-div col-lg-12 col-md-12 col-sm-12">
        <div class="single-stat ">
            <h2><span class="grey-text">$121.2</span><span class="green-text"> Trillion</span></h2>
            <p class="single-stat-text"><span class="grey-text">Global commodity market</span></p>
        </div>
        <div class="single-stat ">
            <h2><span class="grey-text">$635</span><span class="green-text"> Trillion</span></h2>
            <p class="single-stat-text"><span class="grey-text">Global real estate market</span></p>
        </div>
        <div class="single-stat  ">
            <h2><span class="grey-text">$15%</span><span class="green-text"> P.A.</span></h2>
            <p class="single-stat-text"><span class="grey-text">Avg real estate RoI</span></p>
        </div>
        <div class="single-stat  ">
            <h2><span class="grey-text">$2.1</span><span class="green-text"> Trillion</span></h2>
            <p class="single-stat-text"><span class="grey-text">Global cryptocurrency market</span></p>
        </div> 
    </div>
</div>

<form [formGroup]="investmentForm">
<section class="investment-calc-section col-lg-12 col-md-12 col-sm-12">
    
    <div class="green-box-calc col-lg-6 col-md-6 col-sm-12">
        <div class="green-box">.</div>
        <div class="calculator">
            <h3 class="green-text calc-heading" >Investment Calculator</h3>
            <div class="row-calc">
                <h5 class="green-text" style="font-size: 1rem;">Investment amount</h5>
                <input type="text" placeholder="$0.0" formControlName="amount">
            </div>
            <div class="row-calc">
                <h5 class="green-text" style="font-size: 1rem;">Investment duration</h5>
                <input type="text" placeholder="0 years" formControlName="duration">
            </div>
            <div class="row-calc">
                <div>    
                    <h5 class="green-text">Investment total</h5>
                </div>
                <div class="amount-cal ">    
                    <h2 class="green-text">${{total_investment}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="investment-img col-lg-6 col-md-6">
        <img src="/assets/PNG/hand-with-pink-calculator.png"  alt="">
    </div>
</section>
</form>

<section class="investors-section col-lg-12 col-md-12 col-sm-12 pb-4 pt-4">
    <div class="investors-section-img col-lg-4 col-md-5 col-sm-12">
        <img src="/assets/PNG/corporate-business-people-looking.png" alt="">
    </div>
    <div class="investors-section-text-content col-lg-4 col-md-5 col-sm-12">
        <h3 class="green-text">For investors</h3>
        <p style="color: #676C6B;">OzoneX allows investors from all over the world to invest in real world assets like real estate, automotive industry, fine arts using the blockchain technology. Users can register on the platform with their cryptocurrency wallet and buy fractions of all the available NFTs they want to invest in. The platform allows cross-border investments as all the assets are represented digitally with NFTs and investors are able to invest in these NFTs through digital currencies. OzoneX makes it easier to do cross-border investments with the power of decentralization.</p>
    </div>
</section>



<section class="how-it-works-main-section col-lg-12 col-md-12 col-sm-12">
    <h3 class="hiw-main-heading green-text pt-4">How it works?</h3>
    <div class="hiw-items col-lg-10 col-md-12 col-sm-12">
        <div class="hiw-item col-lg-4 col-md-4 col-sm-12">
            <img src="/assets/PNG/arrow-up.png" alt="">
            <h4>Invest</h4>
            <p style="color: #676C6B;">Buy the fractions of your preferred NFTs from the OzoneX Marketplace.</p>
        </div>
        <div class="hiw-item col-lg-4 col-md-4 col-sm-12">
            <img src="/assets/PNG/hiw-iteem-2.png" alt="">
            <h4>Earn</h4>
            <p style="color: #676C6B;">Regularly receive passive income from the revenue generated by the asset you invested in.</p>
        </div>
        <div class="hiw-item col-lg-4 col-md-4 col-sm-12">
            <img src="/assets/PNG/hiw-item-3.png" alt="">
            <h4>Exit</h4>
            <p style="color: #676C6B;">Sell your fractions on the OzoneX marketplace to take an exit from the project.</p>
        </div>
    </div>
</section>


<section class="project-owners-section col-lg-12 col-md-12 col-sm-12">
    <div class="project-owners-section-text-content col-lg-4 col-md-5 col-sm-12">
        <h2 class="green-text">For project owners</h2>
        <h4 style="color: #353C3B;">Crowdfund your project on a global scale</h4>
        <p style="color: #676C6B;">OzoneX allows investors from all over the world to invest in real world assets like real estate, automotive industry, fine arts using the blockchain technology. Users can register on the platform with their cryptocurrency wallet and buy fractions of all the available NFTs they want to invest in. The platform allows cross-border investments as all the assets are represented digitally with NFTs and investors are able to invest in these NFTs through digital currencies. OzoneX makes it easier to do cross-border investments with the power of decentralization.</p>
    </div>
    <div class="project-owners-section-img col-lg-4 col-md-5 col-sm-12">
        <img src="/assets/PNG/smiling-man-using-laptop-near-bed.png" alt="">
    </div>
</section>

@if(showThumbsupSection){
<div class="thumbsup-section">
<div class="thumbsup-inner-div">
    <div class="thumbs-up-text">
        <h2 class="green-text">Trust</h2>
        <p>All the real world asset projects on OzoneX platform will be vetted and verified by the OzoneX team so you can invest peacefully.</p>
    </div>
    <div>
        <img src="/assets/PNG/faded.png" alt="">
    </div>
</div>
</div>
}