
<div class="container">

    <!-- header -->
        <div class="navbar">

            <nav>
             <div class="nav__header">
                 <div class="nav__logo">
                     <a href="#">
                         <img src="/assets/PNG/Logo.png" width="170px">
                        </a>
                    </div>
                </div>
                <ul class="nav__links" id="nav-links">
                    <li class="home_list" ><a href="#" >Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Pages</a> <img src="/assets/PNG/down_arrow.png" alt=""></li>
                    <li><a href="#">Blog</a><img src="/assets/PNG/down_arrow.png" alt=""></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                
                <div class="nav__btns">
                    <img src="/assets/PNG/signup.png"  class="nav__btn" >
                    <img src="/assets/PNG/signin.png" class="nav__btn" >
                </div>
            </nav>
        </div>
            
            
        <div class="header_section">
            <h1 >Web3 Fintech Ecosystem</h1>
            <img src="/assets/PNG/header_img.png" width="100%" >
            <div class="as_seen">AS SEEN IN</div>
             <!-- Swiper Section -->
        </div>

        <!-- Description -->
        <div class="description">
            <img src="/assets/PNG/path.png" alt="">
            <div class="info">
                <h2>What is OzoneX?</h2>
                <p>OzoneX is a decentralized fintech platform bridging the gap between digital and physical assets. By leveraging blockchain technology, we offer secure and transparent transactions for real-world asset tokenization, NFT trading, and more. Our ecosystem includes an NFT marketplace, OTC platform, crypto payments, and other DeFi solutions, ensuring a comprehensive financial ecosystem.</p>
            </div>
        </div>


        <!-- RWA Tokenization -->
        <div class="rwa_token">
            <img class="background" src="/assets/PNG/rwa_token.png" alt="">
                <h2>RWA tokenization</h2>
                <p> Convert real world assets to blockchain tokens and make trading and investing swift.  </p>
                <div class="buttons">
                    <div class="button">
                        <img src="/assets/PNG/home.png" alt="">
                        <p class="title">Real Estate</p>
                    </div>
                    <div class="button">
                        <img src="/assets/PNG/idea.png" alt="">
                        <p class="title">Intellectual Property</p>
                    </div>
                    <div class="button">
                        <img src="/assets/PNG/commodities.png" alt="">
                        <p class="title">Commodities</p>
                    </div>
                    <div class="button">
                        <img src="/assets/PNG/treasury.png" alt="">
                        <p class="title">Treasury bills</p>
                    </div>
                    <div class="button">
                        <img src="/assets/PNG/fine_arts.png" alt="">
                        <p class="title">Fine arts</p>
                    </div>
                    <div class="button">
                        <img src="/assets/PNG/jewelry.png" alt="">
                        <p class="title">Jewelry</p>
                    </div>
                </div>
                <button class="btn btn-light">
                    Add many more
                </button>
        </div>

        <!-- NFT Market Place  -->
        <div class="nft_market_place">   
            <div class="image">
                <img src="/assets/PNG/laptop.png" alt="">
            </div>
            <div class="text">
                <h2>NFT Marketplace</h2>
                <p>Trade and invest in NFTs and Fractional-NFTs with our highly advanced NFT marketplace.</p>
                <br>
                <p>
                    <strong>NFT: </strong> Trade NFTs associated with physical or digital assets or invest in new NFT collections.
                </p>
                <p>
                    <strong>F-NFT: </strong> Invest in projects through their fractional NFTs or trade in real world assets 24*7 with their F-NFTs.
                </p>
            </div>
        </div>


        <!-- OTC Platform -->
        <div class="otc_platform">
            <div>
                <h2>OTC platform</h2>
                <p class="desc">Convert your blockchain assets to flat currencies anywhere in the world.</p>

                <div class="feature_grid">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/PNG/payments.png" class="grid_image">  
                            <p>Multiple mode of payments</p>  
                        </div>
                        <div class="col">
                            <img src="/assets/PNG/currencies.png" class="grid_image">  
                            <p>Supports 100+ currencies</p>  
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <img src="/assets/PNG/dispute.png" class="grid_image">  
                            <p>24 hour Dispute management</p>  
                        </div>
                        <div class="col">
                            <img src="/assets/PNG/availability.png" class="grid_image">  
                            <p>High availability</p>  
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <img src="/assets/PNG/phone.png" alt="" class="image">
            </div>    
        </div>
        
        
        <!-- Transparent -->
        <div class="transparent">
            <h2>Secure. <span>Transparent.</span> Trustless.</h2>
            <p>The platform is powered by the blockchain technology to create a secure and transparent ecosystem. Audited smart contracts govern all operations, ensuring trust and reliability. Transactions are automated based on predefined rules, eliminating the need for intermediaries. This trustless environment empowers users to trade confidently without prior knowledge of counterparties.</p>
            <img src="/assets/PNG/transaction.png" alt="" class="image">
         </div>


        <div class="discord_section">
            <img src="/assets/PNG/short_logo.png" alt="">
            <h2>Join The Community</h2>
            <img src="/assets/PNG/join_discord.png" class="join_discord">
            
        </div>

</div>