


.navbar{
    position: relative;
    top: 0;
}


nav {
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    gap: 2rem;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    color: black;
    
}

.nav__links a {
    font-weight: 500;
    text-decoration: none;
    color: #262626;

    margin-right: 5px;
}

.home_list a{
    font-weight: 500;
    text-decoration: none;
    color:#019444;
}

.nav__links a:hover {
    transition: 0.5s;
    color: #019444;
}

.nav__btns{
    margin-left: 14rem;
    display: flex;
    gap: 2rem;
}

.nav__btn{
    /* width: 4.5rem; */
    height: 2rem;
    cursor: pointer;
}

/* Header */
.header_section{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        color: #019444;
    }
}
.as_seen{
    color: grey;
    border: 1px solid grey;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
}

/* Description Section */
.description {
    position: relative;
    top: 1020px;
    height: auto;
    width: 100vw; /* Full width of the viewport */
    background-color: #F7F9F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -130px;
}

.description img {
    height: 400px; /* Adjust the image height as needed */
    margin-right: 100px;
}

.description .info {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-left: 20px;
}

.description .info h2 {
    color: #019444;
}

.description .info p {
    color: #676C6B;
    text-align: start;
}

.rwa_token{
    position: relative;
    top: 1020px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    
    .background{
        width: 100vw; /*Full width of the viewport*/
        z-index: -45;
        height: auto;
    }

    h2{
        position: absolute;
        top: 4.8rem;
        color: #019444;
    }

    p{
        position: absolute;
        color: #676C6B;
        top: 7.5rem;   
    }
    .buttons{
        display: flex;
        flex-direction: row;
        position: absolute;
        gap: 5rem;

        .button{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            img{

                height: 7rem;
                width: 7rem;
            }
            p{
                top: 6.6rem;
            }
        }
    }
    button{
        position: absolute;
        top: 22rem;
        box-shadow: 3px 1px 50px rgb(203, 203, 203);
    }
    
}

.nft_market_place{
    position: relative;
    top: 1060px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    gap: 5rem;
    img{
        height: 20rem;
    }

    .text{
        h2{
            color: #019444;
        }
        p{
            color: #676C6B;

            strong{
                color: black;
            }
        }
    }
}


/* otc_platform */
.otc_platform{
    position: relative;
    top:1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
    gap: 4rem;
    background-color: #E9F9F4;
    border-radius: 24px;

    .feature_grid{
        margin-top: 2rem;
    }

    .grid_image{
        height: 4.5rem;
        width: 4.5rem;
    }

    h2{
        color: #019444;
    }

    .desc{
        color: #676C6B;
    }

    .image{
        /* position: absolute; */
        height: 25rem;
        margin-bottom: 3rem;
    }
}


/* transparent */
.transparent{
    position: relative;
    top: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
       
        span{
            color: #019444;
        }
    }
    p{
        color: #676C6B;
        width: 60rem;
    }
    img{
        margin-top: 5px;
        width: 60rem;
    }
}

/* discord_section */
.discord_section{
    position: relative;
    top:1200px;
    height: 60vh;
    width: 99vw;
    margin-left: -115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9F9F4;



    .join_discord{
        cursor: pointer;
    }
    
}


/* swiper */
.swiper {
    width: 600px;
    height: 300px;
  }
