
<div class="main-container">
        <section class="header_section ">
            <h1 class="main-heading mt-2 mb-3">Web3 Fintech Ecosystem</h1>
                <img src="/assets/PNG/header_img.png" class="main-img" style="padding-left: 5%;" >
            <div class="as_seen">AS SEEN IN</div>
             <!-- Swiper Section -->

                <!-- Swiper Section -->
        <swiper [config]="configTest">
        @for(item of dataBrand ; track $index){
            <ng-template swiperSlide>
                <div class="brand-sec">
                    <img [src]="'assets/PNG/' + item" class="swiper-img">
                </div>
            </ng-template>
        }
        </swiper>
        </section>

        <!-- Description -->
        <section class="description ">
            <div class="col-md-4 d-lg-block d-none">
                <img src="/assets/PNG/path.png" >
            </div>
            <div class="info col-md-7">
                <h2 style=" padding-left: 8%; padding-right: 8%;">What is OzoneX?</h2>
                <p style=" padding-left: 8%; padding-right: 8%;">OzoneX is a decentralized fintech platform bridging the gap between digital and physical assets. By leveraging blockchain technology, we offer secure and transparent transactions for real-world asset tokenization, NFT trading, and more. Our ecosystem includes an NFT marketplace, OTC platform, crypto payments, and other DeFi solutions, ensuring a comprehensive financial ecosystem.</p>
            </div>
        </section>
        
        <!-- RWA Tokenization -->
        <section class="rwa_token col-lg-12 col-md-12 col-sm-12">
            <h2 class="pt-2">RWA tokenization</h2>
            <p class="p_token mt-1 mb-4"> Convert real world assets to blockchain tokens and make trading and investing swift.  </p>
            <div class="rwatoken_button_list mb-2">
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/home.png" alt="">
                    <p class="title">Real Estate</p>
                </div>
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/idea.png" alt="">
                    <p class="title">Intellectual Property</p>
                </div>
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/commodities.png" alt="">
                    <p class="title">Commodities</p>
                </div>
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/treasury.png" alt="">
                    <p class="title">Treasury bills</p>
                </div>
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/fine_arts.png" alt="">
                    <p class="title">Fine arts</p>
                </div>
                <div class="rwatoken_button ">
                    <img src="/assets/PNG/jewelry.png" alt="">
                    <p class="title">Jewelry</p>
                </div>
            </div>
            
                <button class="btn btn-light mt-4 " >
                    Add many more
                </button>
        </section>

        <!-- NFT Market Place  -->
        <section class="nft_market_place col-lg-12 col-md-12 col-sm-12">   
            <div class="image">
                <img src="/assets/PNG/laptop.png" alt="" >
            </div>
            <div class="text col-md-7">
                <h2>NFT Marketplace</h2>
                <p>Trade and invest in NFTs and Fractional-NFTs with our highly advanced NFT marketplace.</p>
                <br>
                <p>
                    <strong>NFT: </strong> Trade NFTs associated with physical or digital assets or invest in new NFT collections.
                </p>
                <p>
                    <strong>F-NFT: </strong> Invest in projects through their fractional NFTs or trade in real world assets 24*7 with their F-NFTs.
                </p>
            </div>
        </section>

        <!-- OTC Platform -->
        <section class="otc_platform col-lg-10 col-md-10 col-sm-10">
        <div class="div_otc">
            <div class="info_div">
                <h2>OTC platform</h2>
                <p class="desc">Convert your blockchain assets to flat currencies anywhere in the world.</p>
                        
                <div class="feature_grid">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/PNG/payments.png" class="grid_image">  
                            <p class="grid_text">Multiple mode of payments</p>  
                        </div>
                        <div class="col">
                            <img src="/assets/PNG/currencies.png" class="grid_image">  
                            <p class="grid_text">Supports 100+ currencies</p>  
                        </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                            <img src="/assets/PNG/dispute.png" class="grid_image">  
                            <p class="grid_text">24 hour Dispute management</p>  
                        </div>
                        <div class="col">
                            <img src="/assets/PNG/availability.png" class="grid_image">  
                            <p class="grid_text">High availability</p>  
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;" >
                <img src="/assets/PNG/phone.png" alt="" class="image col-lg-10 col-md-10 col-sm-10" >
            </div>
        </div>    
        </section>
        
        <!-- Transparent -->
        <section class="transparent mt-4 col-lg-12 col-md-12 col-sm-12">
            <h2>Secure. <span>Transparent.</span> Trustless.</h2>
            <p class="col-lg-8 col-md-8 col-sm-8">The platform is powered by the blockchain technology to create a secure and transparent ecosystem. Audited smart contracts govern all operations, ensuring trust and reliability. Transactions are automated based on predefined rules, eliminating the need for intermediaries. This trustless environment empowers users to trade confidently without prior knowledge of counterparties.</p>
            <img src="/assets/PNG/transaction.png" alt="" class="image col-lg-8 col-md-8 col-sm-8">
         </section>
</div>